:root {
    --blueSky: #2f80ed;
    --blueSkyHover: #165ebd;
    --colorWhite: white;
    --greenSuccess: #05ce30;
    --lightBlue: rgb(0, 100, 194);
    --lightBlueHover: rgb(8, 73, 134);
    --lightYellow: #add10e;
}